{% extends "base/base.html" %}
{% load list_filters %}
{% load static %}

{% block title %}<title>Список фильмов</title>{% endblock %}
{% block list_movie_css %}
    <link type="text/css" href="{% static 'css/movies/list.css' %}" rel="stylesheet" />
{% endblock %}
{% block pagination_movie_css %}
    <link type="text/css" href="{% static 'css/movies/pagination.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'css/common/search.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="body_list">
    <div>
         <form class="search_main" method="get">
                 {% if user.is_authenticated %}
                     <a class="search_button" href="{% url 'custom-logout' %}">ВЫЙТИ</a>
                 {% else %}
                     <a class="search_button" href="{% url 'login' %}">ВОЙТИ</a>
                 {% endif %}
                 {% for f in form %}
                     <div>{{ f }}</div>
                 {% endfor %}
                 <div class="tags">
                     <div><button class="search_button" type="submit">НАЙТИ</button></div>
                 </div>
         </form>
         <div class="line_main" >
                 <a class="line_button" href="{% url 'custom-logout' %}">ОТМЕТИТЬ ВСЕ</a>
                 {% for _ in range) %}
                      <div class="number_content_green"></div>
                 {% endfor %}
                 <div class="tags">
                     <div><button class="line_button" type="submit">СБРОСИТЬ ВСЕ</button></div>
         </div>
    </div>

    {% for movie in pages_movies %}
{#        <a class="main" href="{{ movie.get_absolute_url }}">#}
        <div class="main">
            {% if user.is_authenticated %}
                 <a href="{% url 'movies-viewed' movie.id %}?page={{ request.get_full_path }}">
                     {% if movie in viewed_movies %}
                         <div class="number_content_green">
                             <div class="number_font_white">{{ movie.position }}</div>
                             <div class="content_font_white">{{ movie.content|translate_content }}</div>
                         </div>
                     {% else %}
                         <div class="number_content">
                             <div class="number_font">{{ movie.position }}</div>
                             <div class="content_font">{{ movie.content|translate_content }}</div>
                         </div>
                     {% endif %}
                 </a>
            {% else %}
                <div class="number_content">
                         <div class="number_font">{{ movie.position }}</div>
                         <div class="content_font">{{ movie.content|translate_content }}</div>
                </div>
            {% endif %}
            <div>
                <img src="{{ movie.poster.url }}" class="poster">
            </div>
            <div class="title">
                <div class="title_font">{{ movie.title_ru }}</div>
                <div>{{ movie.title_en }}</div>
                <p class="director"><strong>Режиссёр:</strong> {{ movie.director }},
                <strong>Релиз:</strong> {{ movie.release_date|date:"d.m.Y" }},
                <strong>Длина:</strong> {{ movie.timing|timing_movie  }}
                </p>
                <div class="director">{{ movie.description|custom_truncatechars:160}}</div>
                <div style="display: flex; flex-direction: row; gap: 10px;">
                    <a class="trailer_button" href="{{ movie.trailer }}" target="_blank">Трейлер</a>
                    {% if user.is_superuser %}
                        {% for name_button, name_url in buttons_crud.items %}
                            <a class="trailer_button" href="{% url name_url movie.id %}">{{ name_button }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{#    </a>#}
{% endblock %}
{% block navigation %}
    <div class="main_pagination">
        {% if pages_movies.has_previous %}
            <a href="?page={{ pages_movies.previous_page_number }}" class="pagination_number_font">&lt</a>
        {% endif %}
        {% for page in pages_movies.paginator.page_range %}
                {% if pages_movies.number == page %}
                    <div class="pagination_font">{{ page }}</div>
                {% elif page >= pages_movies.number|add:-2 and page <= pages_movies.number|add:2 %}
                    <a href="?page={{ page }}&query={{ query|urlencode }}" class="pagination_number_font">{{ page }}</a>
                {% endif %}
        {% endfor %}
        {% if pages_movies.has_next %}
            <a href="?page={{ pages_movies.next_page_number }}" class="pagination_number_font">&gt</a>
        {% endif %}
    </div>
</div>
{% endblock %}